<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <table
          v-if="list && list.length"
          class="table b-table table-striped table-hover table-bordered border table-cart"
          aria-busy="false"
          aria-colcount="4"
        >
          <thead>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Acciones</th>
          </thead>
          <tfoot role="rowgroup">
            <tr role="row">
              <th role="columnheader" scope="col" aria-colindex="1" />
              <th role="columnheader" scope="col" aria-colindex="2" />
              <th role="columnheader" scope="col" aria-colindex="3">
                Total
              </th>
              <th role="columnheader" scope="col" aria-colindex="4">
                {{ displayPrice(total, list[0].price[0]) }}
              </th>
              <th role="columnheader" scope="col" aria-colindex="5" />
            </tr>
          </tfoot>
          <tbody>
            <tr v-for="(product, i) in list" :key="i">
              <td>
                <nuxt-link :to="'/product/' + product.id">
                  {{ product.name }}
                </nuxt-link>
              </td>
              <td>{{ product.price }}</td>
              <td>
                <div class="qty d-flex">
                  <b-button
                    variant="secondary"
                    class="btn-sm btn-spin w-auto"
                    :disabled="!product.available || product.quantity <= 0"
                    @click="updateQty(product, 'minus')"
                  >
                    <i class="fa fa-minus" />
                  </b-button>
                  <b-form-input
                    v-model="product.qty"
                    type="number"
                    min="0"
                    class="input-qty"
                    disabled
                  />
                  <b-button
                    variant="secondary"
                    class="btn-sm btn-spin w-auto"
                    :disabled="!product.available || product.quantity <= 0"
                    @click="updateQty(product)"
                  >
                    <i class="fa fa-plus" />
                  </b-button>
                </div>
              </td>
              <td>
                {{
                  displayPrice(
                    getPrice(product.price),
                    product.price[0],
                    product.qty
                  )
                }}
              </td>
              <td>
                <b-button variant="danger" @click="removeFromCart(product.id)">
                  <i class="fa fa-trash" />
                </b-button>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 v-else class="no-items-cart">
          No hay productos añadidos al carrito
        </h3>
        <nuxt-link to="/" class="btn btn-secondary">
          <i class="fa fa-chevron-left" />
          Seguir comprando
        </nuxt-link>
        <nuxt-link to="/checkout/" class="btn btn-primary">
          Pasar por caja
          <i class="fa fa-chevron-right" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    list() {
      let products = this.$store.state.cart.cart
      products = products.map(item => ({
        ...item,
        ...this.$ProductHelper.getProduct(item.id)
      }))
      return products
    },
    total() {
      let total = 0
      this.list.forEach(item => {
        total += this.getPrice(item.price) * item.qty
      })
      return total
    }
  },
  methods: {
    removeFromCart(id) {
      this.$store.dispatch('cart/remove', id)
    },
    getPrice(textPrice) {
      let price = textPrice.substring(1)
      price = price.replace(/,/g, '')
      return parseFloat(price)
    },
    displayPrice(price, currency, qty = 1) {
      return currency + price * qty
    },
    updateQty(product, type = 'plus') {
      switch (type) {
        case 'plus':
          product.qty + 1 <= product.quantity &&
            this.$store.dispatch('cart/updateProductQty', {
              id: product.id,
              qty: product.qty + 1
            })
          break
        case 'minus':
          product.qty - 1 > 0 &&
            this.$store.dispatch('cart/updateProductQty', {
              id: product.id,
              qty: product.qty - 1
            })
          break
      }
    }
  }
}
</script>

<style>
.no-items-cart {
  font-weight: 300;
  color: #222;
  text-transform: uppercase;
}
.table-cart {
  text-transform: uppercase;
}
</style>
