<template>
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 mt-5 d-flex justify-content-between align-items-center"
      >
        <h2 class="category--title">{{ category.name }}</h2>
        <div class="d-flex align-items-center">
          <span class="w-100 text-right">Ordenar por:</span>
          <b-form-select v-model="orderBy" :options="orderTypes" class="mx-1" />
          <i
            class="fa fa-sliders settings-toggler ml-2"
            @click="settingsToggle = !settingsToggle"
          />
        </div>
      </div>
      <div class="col-12">
        <b-jumbotron v-show="settingsToggle" class="mt-3 mb-0 px-2 py-2">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <span class="filter--name w-100">Disponibilidad</span>
                <b-form-checkbox
                  v-model="filters.available"
                  :value="true"
                  :unchecked-value="false"
                  class="mt-2"
                >
                  Disponibles
                </b-form-checkbox>
                <b-form-checkbox
                  v-model="filters.notAvailable"
                  :value="true"
                  :unchecked-value="false"
                >
                  No disponibles
                </b-form-checkbox>
              </div>

              <div class="col">
                <span class="filter--name w-100">Precio</span>
                <label class="w-100">
                  Precio Minimo ($)
                  <b-form-input
                    v-model="filters.minPrice"
                    type="number"
                    min="0"
                    :max="filters.maxPrice"
                    class="w-100"
                  />
                </label>
                <label class="w-100">
                  Precio Maximo ($)
                  <b-form-input
                    v-model="filters.maxPrice"
                    type="number"
                    :min="filters.minPrice"
                    max="100000"
                    class="w-100"
                  />
                </label>
              </div>

              <div class="col">
                <span class="filter--name w-100">Stock</span>
                <label class="w-100">
                  Stock Minimo
                  <b-form-input
                    v-model="filters.minStock"
                    type="number"
                    min="0"
                    :max="filters.maxStock"
                    class="w-100"
                  />
                </label>
                <label class="w-100">
                  Stock Maximo
                  <b-form-input
                    v-model="filters.maxStock"
                    type="number"
                    :min="filters.minStock"
                    max="100000"
                    class="w-100"
                  />
                </label>
              </div>
            </div>
          </div>
        </b-jumbotron>
      </div>
      <div class="col-12 col-sm-3">
        <b-jumbotron class="mt-3 px-2 py-4">
          <div class="nav-tree">
            <ul>
              <li
                v-for="(cat, i) in categories"
                :id="'item_' + i"
                :key="i"
                @click.stop="toggleItem('item_' + i)"
              >
                <nuxt-link :to="'/category/' + cat.id">
                  {{ cat.name }}
                </nuxt-link>
                <i v-if="cat.sublevels" class="fa fa-plus" />
                <ul v-if="cat.sublevels">
                  <li
                    v-for="(sublevel, j) in cat.sublevels"
                    :id="'item_' + i + '_' + j"
                    :key="j"
                    @click.stop="toggleItem('item_' + i + '_' + j)"
                  >
                    <nuxt-link :to="'/sublevel/' + sublevel.id">
                      {{ sublevel.name }}
                    </nuxt-link>
                    <i v-if="sublevel.sublevels" class="fa fa-plus" />
                    <ul v-if="sublevel.sublevels">
                      <li
                        v-for="(sub, k) in sublevel.sublevels"
                        :id="'item_' + i + '_' + j + '_' + k"
                        :key="k"
                        @click.stop="
                          toggleItem('item_' + i + '_' + j + '_' + k)
                        "
                      >
                        <nuxt-link :to="'/sublevel/' + sub.id">
                          {{ sub.name }}
                        </nuxt-link>
                        <i v-if="sub.sublevels" class="fa fa-plus" />
                        <ul v-if="sub.sublevels">
                          <li
                            v-for="(child, l) in sub.sublevels"
                            :id="'item_' + i + '_' + j + '_' + k + '_' + l"
                            :key="l"
                            @click.stop="
                              toggleItem(
                                'item_' + i + '_' + j + '_' + k + '_' + l
                              )
                            "
                          >
                            <nuxt-link :to="'/sublevel/' + child.id">
                              {{ child.name }}
                            </nuxt-link>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </b-jumbotron>
      </div>
      <div class="col-12 col-sm-9">
        <div class="container">
          <b-form-input
            v-if="!category.sublevels"
            v-model="searchText"
            placeholder="Buscar un producto"
            class="mt-3"
          />
        </div>
        <productList :items="products" :force="force" custom="mt-3" />
      </div>
    </div>
  </div>
</template>

<script>
import productList from '../../catalog/listing/productList'
import categories from '../../../assets/categories'

export default {
  components: {
    productList
  },
  props: {
    id: {
      type: Number,
      default: 0
    },
    force: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    settingsToggle: false,
    orderTypes: [
      { value: null, text: '--' },
      { value: 1, text: 'Precio: Más bajo primero' },
      { value: 2, text: 'Precio: Más alto primero' },
      { value: 3, text: 'Disponibilidad: Disponibles primero' },
      { value: 4, text: 'Disponibilidad: No disponibles primero' },
      { value: 5, text: 'Stock: Menos stock primero' },
      { value: 6, text: 'Stock: Más stock primero' }
    ],
    orderBy: null,
    searchText: '',
    filters: {
      available: false,
      notAvailable: false,
      minPrice: 0,
      maxPrice: 100000,
      minStock: 0,
      maxStock: 100000
    }
  }),
  computed: {
    products() {
      let products = this.$CategoryHelper.getProducts(this.id)
      if (this.filters.available && !this.filters.notAvailable) {
        products = products.filter(item => item.available)
      } else if (this.filters.notAvailable && !this.filters.available) {
        products = products.filter(item => !item.available)
      }
      products = products.filter(
        item =>
          this.getPrice(item.price) >= this.filters.minPrice &&
          this.getPrice(item.price) <= this.filters.maxPrice
      )
      products = products.filter(
        item =>
          item.quantity >= this.filters.minStock &&
          item.quantity <= this.filters.maxStock
      )
      let sortFunction = () => true
      switch (this.orderBy) {
        case 1:
          sortFunction = (a, b) => {
            if (this.getPrice(a.price) < this.getPrice(b.price)) {
              return -1
            }
            if (this.getPrice(a.price) > this.getPrice(b.price)) {
              return 1
            }
            return 0
          }
          break
        case 2:
          sortFunction = (a, b) => {
            if (this.getPrice(a.price) > this.getPrice(b.price)) {
              return -1
            }
            if (this.getPrice(a.price) < this.getPrice(b.price)) {
              return 1
            }
            return 0
          }
          break
        case 3:
          sortFunction = (a, b) => {
            if (a.available && !b.available) {
              return -1
            }
            if (!a.available && b.available) {
              return 1
            }
            return 0
          }
          break
        case 4:
          sortFunction = (a, b) => {
            if (!a.available && b.available) {
              return -1
            }
            if (a.available && !b.available) {
              return 1
            }
            return 0
          }
          break
        case 5:
          sortFunction = (a, b) => {
            if (a.quantity < b.quantity) {
              return -1
            }
            if (a.quantity > b.quantity) {
              return 1
            }
            return 0
          }
          break
        case 6:
          sortFunction = (a, b) => {
            if (a.quantity > b.quantity) {
              return -1
            }
            if (a.quantity < b.quantity) {
              return 1
            }
            return 0
          }
          break
        default:
          sortFunction = () => 0
      }
      if (this.searchText) {
        products = products.filter(item => item.name.match(this.searchText))
      }
      products = products.sort(sortFunction)
      return products
    },
    category() {
      return this.getCategory(this.id)
    },
    categories() {
      return categories.categories
    }
  },
  methods: {
    getCategory(id) {
      let category = this.$CategoryHelper.getCategory(id, !this.force)
      if (!category && !this.force) {
        category = this.$CategoryHelper.getCategory(id, true)
      }
      return category
    },
    getPrice(textPrice) {
      let price = textPrice.substring(1)
      price = price.replace(/,/g, '')
      return parseFloat(price)
    },
    toggleItem(elementID) {
      const element = document.getElementById(elementID)
      element.classList.toggle('active')
    }
  }
}
</script>

<style>
.category--title {
  text-transform: uppercase;
  font-weight: 300;
  color: #222;
  font-size: 32px;
  margin-bottom: 0;
}
.settings-toggler {
  cursor: pointer;
  color: #222;
  font-size: 20px;
}
.filter--name {
  text-transform: uppercase;
  font-weight: 300;
  color: #222;
}
.nav-tree ul {
  padding: 0;
}
.nav-tree > ul > li {
  margin-bottom: 10px;
}
.nav-tree ul > li ul {
  padding-left: 10px;
}
.nav-tree li {
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-tree li i {
  margin-right: 5px;
  color: #999;
}

.nav-tree li.active > i::before {
  content: '\f068';
}

.nav-tree li ul {
  width: 100%;
}

.nav-tree li.active,
.nav-tree li:hover {
  background-color: #dedede;
}

.nav-tree li > ul {
  display: none;
}

.nav-tree li.active > ul {
  display: block;
}

.nav-tree li a {
  padding: 5px 10px;
  color: #222;
}
.nav-tree li a:hover {
  text-decoration: none;
}
</style>
