<template>
  <div class="nav--cart">
    <template v-if="list && list.length">
      <ul>
        <li v-for="(product, i) in list" :key="i">
          <div>
            <span class="ml-2">{{ product.qty }} x</span>
            <nuxt-link :to="'/product/' + product.id">
              {{ product.name }}
            </nuxt-link>
          </div>
          <i class="fa fa-trash mr-2" @click="removeFromCart(product.id)" />
        </li>
      </ul>
      <nuxt-link to="/cart/" class="btn btn-secondary w-100">
        Ir al carrito
      </nuxt-link>
      <nuxt-link to="/checkout/" class="btn btn-primary w-100 mt-2">
        Pasar por caja
      </nuxt-link>
    </template>
    <template v-else>
      <span class="no-items">No hay productos añadidos al carrito</span>
    </template>
  </div>
</template>

<script>
export default {
  computed: {
    list() {
      let products = this.$store.state.cart.cart
      products = products.map(item => ({
        ...item,
        ...this.$ProductHelper.getProduct(item.id)
      }))
      return products.slice(0, 5)
    }
  },
  methods: {
    removeFromCart(id) {
      this.$store.dispatch('cart/remove', id)
    }
  }
}
</script>

<style>
.nav--cart {
  padding: 15px;
  position: absolute;
  background: white;
  border: 1px solid #ccbfbfa0;
  width: 250px;
  right: 15px;
  z-index: 3;
}
.nav--cart ul {
  padding: 0;
}
.no-items {
  font-weight: 300;
  color: #222;
  text-align: center;
  width: 100%;
}
.nav--cart ul li {
  list-style: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #dadada;
  margin-bottom: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--cart ul li a {
  color: #222;
}
.nav--cart ul li a:hover {
  text-decoration: none;
}
.nav--cart ul li i {
  cursor: pointer;
}
</style>
