<template>
  <category :id="parseInt($route.params.id)" force />
</template>

<script>
import category from '../../components/catalog/_partials/category'

export default {
  components: {
    category
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  }
}
</script>
