<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <nuxt-link to="/" class="btn btn-secondary mb-3">
          <i class="fa fa-chevron-left" />
          Seguir comprando
        </nuxt-link>
      </div>
      <div v-if="list && list.length" class="col-12">
        <h3>Datos de Facturacion y Envio</h3>
        <b-form class="mb-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6">
                <b-form-group
                  id="input-group-1"
                  label="Nombres:"
                  label-for="firstName"
                >
                  <b-form-input
                    id="firstName"
                    v-model="form.firstName"
                    type="text"
                    required
                    placeholder="Nombres"
                  />
                </b-form-group>
              </div>

              <div class="col-12 col-sm-6">
                <b-form-group
                  id="input-group-2"
                  label="Apellidos:"
                  label-for="lastName"
                >
                  <b-form-input
                    id="lastName"
                    v-model="form.lastName"
                    type="text"
                    required
                    placeholder="Apellidos"
                  />
                </b-form-group>
              </div>

              <div class="col-12 col-sm-6">
                <b-form-group
                  id="input-group-3"
                  label="Cédula:"
                  label-for="dni"
                >
                  <b-form-input
                    id="dni"
                    v-model="form.dni"
                    type="text"
                    required
                    placeholder="Cédula"
                  />
                </b-form-group>
              </div>

              <div class="col-12 col-sm-6">
                <b-form-group
                  id="input-group-4"
                  label="Email:"
                  label-for="email"
                >
                  <b-form-input
                    id="email"
                    v-model="form.email"
                    type="email"
                    required
                    placeholder="email"
                  />
                </b-form-group>
              </div>

              <div class="col-12 col-sm-6">
                <b-form-group
                  id="input-group-5"
                  label="Dirección de Facturación:"
                  label-for="invoice"
                >
                  <b-form-textarea
                    id="invoice"
                    v-model="form.invoiceAddress"
                    placeholder="Dirección de Facturación"
                    rows="5"
                    max-rows="8"
                  />
                </b-form-group>
              </div>

              <div class="col-12 col-sm-6">
                <b-form-group
                  id="input-group-6"
                  label="Dirección de Envio:"
                  label-for="shipping"
                >
                  <b-form-textarea
                    id="shipping"
                    v-model="form.shippingAddress"
                    placeholder="Dirección de Envio"
                    rows="5"
                    max-rows="8"
                  />
                </b-form-group>
              </div>
            </div>
          </div>
        </b-form>
        <h3>Resumen</h3>
        <table
          class="table b-table table-striped table-hover table-bordered border table-cart"
          aria-busy="false"
          aria-colcount="4"
        >
          <thead>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Total</th>
          </thead>
          <tfoot role="rowgroup">
            <tr role="row">
              <th role="columnheader" scope="col" aria-colindex="1" />
              <th role="columnheader" scope="col" aria-colindex="2" />
              <th role="columnheader" scope="col" aria-colindex="3">
                Total
              </th>
              <th role="columnheader" scope="col" aria-colindex="4">
                {{ displayPrice(total, list[0].price[0]) }}
              </th>
            </tr>
          </tfoot>
          <tbody>
            <tr v-for="(product, i) in list" :key="i">
              <td>
                <nuxt-link :to="'/product/' + product.id">
                  {{ product.name }}
                </nuxt-link>
              </td>
              <td>{{ product.price }}</td>
              <td>{{ product.qty }}</td>
              <td>
                {{
                  displayPrice(
                    getPrice(product.price),
                    product.price[0],
                    product.qty
                  )
                }}
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary w-100" :disabled="!canPay" @click="pay">
          Pagar
        </button>
      </div>
      <h3 v-else class="no-items-cart">
        No hay productos añadidos al carrito
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    form: {
      firstName: '',
      lastName: '',
      dni: '',
      email: '',
      invoiceAddress: '',
      shippingAddress: ''
    }
  }),
  computed: {
    list() {
      let products = this.$store.state.cart.cart
      products = products.map(item => ({
        ...item,
        ...this.$ProductHelper.getProduct(item.id)
      }))
      return products
    },
    total() {
      let total = 0
      this.list.forEach(item => {
        total += this.getPrice(item.price) * item.qty
      })
      return total
    },
    canPay() {
      const {
        firstName,
        lastName,
        dni,
        email,
        invoiceAddress,
        shippingAddress
      } = this.form
      return (
        firstName &&
        lastName &&
        dni &&
        email &&
        invoiceAddress &&
        shippingAddress
      )
    }
  },
  methods: {
    getPrice(textPrice) {
      let price = textPrice.substring(1)
      price = price.replace(/,/g, '')
      return parseFloat(price)
    },
    displayPrice(price, currency, qty = 1) {
      return currency + price * qty
    },
    pay() {
      this.form = {
        firstName: '',
        lastName: '',
        dni: '',
        email: '',
        invoiceAddress: '',
        shippingAddress: ''
      }
      this.$store.dispatch('cart/clear')
      this.$bvToast.toast('Compra realizada con exito', {
        title: 'Carrito',
        autoHideDelay: 5000,
        appendToast: true,
        variant: 'success'
      })
    }
  }
}
</script>

<style>
.no-items-cart {
  font-weight: 300;
  color: #222;
  text-transform: uppercase;
}
.table-cart {
  text-transform: uppercase;
}
</style>
