<template>
  <div id="page-content">
    <productList
      v-for="(item, i) in categories"
      :key="i"
      :title="getTitle(item)"
      :items="$CategoryHelper.getProducts(item)"
    />
  </div>
</template>

<script>
import products from '../assets/products.json'
import productList from '../components/catalog/listing/productList'

export default {
  components: {
    productList
  },
  data: () => ({
    categories: []
  }),
  created() {
    let random = 0
    for (let i = 0; i < 3; i++) {
      random = this.randomCategories(products.products)
      while (this.categories.includes(random)) {
        random = this.randomCategories(products.products)
      }
      this.categories.push(random)
    }
  },
  methods: {
    randomCategories(products) {
      return products[Math.floor(Math.random() * products.length)].sublevel_id
    },
    getTitle(categoryID) {
      let category = this.$CategoryHelper.getCategory(categoryID)
      if (!category) {
        category = this.$CategoryHelper.getCategory(categoryID, true)
      }
      let title = ''
      if (category) {
        title = category.name
      }
      return title
    }
  }
}
</script>
