<template>
  <div v-if="item" class="product--miniature col-12 col-sm-6 col-md-4 mb-3">
    <div class="first-block">
      <div
        class="product--miniature--image"
        :style="item.cover ? 'background-image: url(' + item.cover + ')' : null"
      >
        <template v-if="item.cover">
          <button class="btn btn-primary btn-sm quick-view--btn">
            <i class="fa fa-search" />
          </button>
        </template>
        <template v-else>
          <i class="fa fa-shopping-bag no-image-product" />
        </template>
      </div>
      <div
        class="product--miniature--title d-flex justify-content-between mt-3"
      >
        <nuxt-link class="title" :to="'/product/' + item.id">
          {{ item.name }}
        </nuxt-link>
        <div class="add-to-cart-section">
          <template v-if="item.available && item.quantity > 0">
            <i
              v-b-tooltip.hover
              title="Añadir al carrito"
              class="fa fa-plus"
              @click="addToCart"
            />
          </template>
          <template v-else-if="!item.available">
            <span class="text-not-available text-danger">No disponible</span>
          </template>
          <template v-else>
            <span class="text-not-stock text-warning">Agotado</span>
          </template>
        </div>
      </div>
      <div v-if="sublevel && !force" class="product--miniature--category">
        <nuxt-link class="category" :to="'/sublevel/' + sublevel.id">
          {{ sublevel.name }}
        </nuxt-link>
      </div>
      <div v-else-if="category" class="product--miniature--category">
        <nuxt-link class="category" :to="'/category/' + category.id">
          {{ category.name }}
        </nuxt-link>
      </div>
    </div>
    <div class="second-block">
      <div class="product--miniature--price mt-2">
        <span class="price">{{ item.price }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: null
    },
    force: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    category() {
      return this.$CategoryHelper.getCategory(this.item.sublevel_id, false)
    },
    sublevel() {
      return this.$CategoryHelper.getCategory(this.item.sublevel_id, true)
    }
  },
  methods: {
    addToCart() {
      this.$store.dispatch('cart/add', { id: this.item.id, qty: 1 }).then(
        response => {
          this.$bvToast.toast(response, {
            title: '  Carrito',
            autoHideDelay: 5000,
            appendToast: true,
            variant: 'success'
          })
        },
        error => {
          this.$bvToast.toast(error, {
            title: '  Carrito',
            autoHideDelay: 5000,
            appendToast: true,
            variant: 'danger'
          })
        }
      )
    }
  }
}
</script>

<style>
.product--miniature--image {
  width: 100%;
  height: 250px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product--miniature--image .no-image-product {
  font-size: 100px;
  color: #888;
}

.quick-view--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  width: 0;
  height: 0;
  line-height: normal;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}
.product--miniature:hover .quick-view--btn {
  width: 30px;
  height: 30px;
}
.product--miniature:focus,
.product--miniature:active {
  box-shadow: none;
}
.product--miniature--title,
.product--miniature--category {
  line-height: normal;
  text-transform: uppercase;
}
.product--miniature--title .title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  color: #222;
}
.product--miniature--category .category {
  font-size: 13px;
  color: #888;
  font-weight: 300;
  margin-bottom: 0;
}
.product--miniature--price {
  font-weight: 300;
  text-transform: uppercase;
}
.product--miniature--price .price {
  font-size: 20px;
  color: #333;
}
.add-to-cart-section i {
  cursor: pointer;
  font-size: 18px;
}
.text-not-available,
.text-not-stock {
  font-size: 13px;
}
</style>
